@{
    ViewData["Title"] = "About Jesse's Tiny URL";
}
<h2>@ViewData["Title"]</h2>
<p>
    <strong>Created for Founrdy</strong>
    <br />
    <em>4/13/2019</em>
</p>

<h3>Details</h3>
<p>This app was built using .Net Core 2.1</p>
<p>This app is hosted in Microsoft Azure</p>

<h3>Documentation</h3>
<p>
    <a href="#">GitHub</a>
</p>
<p>
    <a href="https://blogs.technet.microsoft.com/cloudpfe/2018/04/18/base32-encoding-and-decoding-in-c/" target="_blank" >Base32</a>
    <br />
    <em>Code copied from here to encode and decode tiny url codes into base32</em>
</p>
